.container__small-card {
  width: 700px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 0px;
}

img {
  width: 200px;
  max-height: 200px;
  object-fit: contain;
  margin-right: 12px;
}

hr {
  margin: 12px 0px;
  color: grey;
}
